dd {
    margin: 0;
    padding: 0;
}

.ux-tabs {
    margin-bottom: 10px;
}

.ux-tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ux-tabs-header {
    border-bottom: 2px solid #e5e5e5;
    height: 30px;
}

.ux-tabs-header .ux-tabs-item {
    float: left;
    display: inline;
    font-size: 16px;
    color: #444;
    height: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.ux-tabs-header .ux-tabs-item.active {
    border-bottom: 2px solid #16a1e3;

}

.ux-tabs-box .ux-tabs-item {
    padding: 20px 10px 0 5px;
    line-height: 18px;
}

.ux-tabs-box .ux-hide {
    display: none;
}

.ux-tabs-box .ux-show {
    display: block;
}

.ux-tabs-box .ux-tabs-item p {
    margin-top: 5px;
}

.ng-cloak {
    display: none;
}

/* ux-high-chart */
.ux-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.ux-clear {
    zoom: 1;
}

.ux-high-chart {
    padding: 20px;
    color: #666;
    font-size: 12px;
}

.high-chart-tabs {
    margin-bottom: 20px;

}

.high-chart-tabs dt,
.high-chart-tabs dd {
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    display: inline;
    text-align: left;
}

.high-chart-tabs dd {
    border: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.high-chart-tabs dd.active {
    border: 1px solid #94c6f3;
    background-color: #94c6f3;
    color: #fff;
}

@media screen and (max-device-width: 480px) {
    .high-chart-tabs dt {
        float: none;
        display: block;
    }

    .high-chart-tabs dd {
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
}